:root {
  --title-color: #212121;
  --theme-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --button-color: #2196f3;
  --bg-footer-color: #2f303a;
  --our-team-bgc: #f5f4fa;
  --icon-color: #afb1b8;

  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}


